.button {
    top: 40%;
    right: 20px;
    width: 80px;
    height: 80px;
    outline: none;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    border-radius: 180px;
    border: solid 2px #007700;
    background-color: #d0d0d0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info {
    top: 35%;
    right: 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: lightgray;

    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 8px;
}

.image {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 80px;
}

.info span {
    margin: 2px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.info a {
  color: #007700;
  text-decoration: none;
  text-align: center;
}

